/* Sidebar styles */
#navigation-container {
  width: 3.5%; /* Initial width */
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out; /* Smooth transition for width */
  z-index: 11111;
}

#navigation-container.open {
  left: 0; /* Sidebar visible */
  width: 60%; /* Set to 60% width when open on mobile */
}

#navigation-container:hover {
  width: 15%; /* Expand the sidebar to 15% on hover */
}

#navigation-container .nav-item-name {
  display: none; /* Hide the text by default */
}

#navigation-container:hover .nav-item-name {
  display: inline-block; /* Show the text when the sidebar expands */
}

/* Mobile-specific styles */
#mobile-navigation-toggle {
  display: block;
}

@media (max-width: 1024px) {
  /* Hide the sidebar by default on mobile */
  #navigation-container {
    left: -100%;
  }

  #mobile-navigation-toggle {
    display: block;
  }
}

@media (min-width: 900px) {
  /* Hide the mobile toggle icon and use the sidebar on larger screens */
  #mobile-navigation-toggle {
    display: none;
  }

  #navigation-container {
    left: 0;
    width: 4%;
    height: 100vh; /* Full height initially */
    transition: width 0.3s ease-in-out; /* Smooth transition for width */
  }

  /* When hovering over the sidebar, increase width */
  #navigation-container:hover {
    width: 15%;
  }
}
